<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Restaurant Management System
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">
          <mat-icon matTooltip="login">login</mat-icon>
        </a>
        <a (click)="handleSignupAction()">
          Register
        </a>
        <a (click)="handleForgotPasswordAction()">
          <mat-icon matTooltip="forgot Password?">home</mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @LewisZ</h2>
</div>